
@{
    ViewBag.Title = "AboutMe";
}

<h2>About Me</h2>
<h3>Bupe Chindongo</h3>
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-12 col-sm-12">
            <h3>Biography</h3>
            <p>
                I am currently a 2nd Year student at
                the University of Pretoria working towards a Bcom Informatics:
                Information Systems degree, with hopes of continuing to honours
                level.<br />  <br />
                Technologies I am familiar with include:

                <ul>
                    <li>Python</li>
                    <li>Javascript</li>
                    <li>C#</li>
                    <li>Java</li>
                    <li>Solidity</li>
                    <li>React.js</li>
                    <li>Eth-brownie</li>
                </ul>

                I am interested in a multitude
                of different areas, including but not limited to software
                development, data science, blockchain technology,
                art, e-commerce and fashion. I am also an avid reader
                and attempt to read at minimum 2 books a month.
            </p>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12">
            <a href="#"></a>
        </div>
    </div>
</div>
