

@section scripts{
    
    <script>

        $(document).ready(function ($) {
            $('.fancybox').fancybox({
                autoCenter: true,
                autoSize: false,
                closeEffect: 'fade',
                openSpeed: 600,
                closeSpeed: 200,
                closeClick: true,
                scrollOutside: false,
                topRatio: 0.5,
                leftRatio: 0.5,
                fitToView: false,
                margin: 50,
                
                helpers: {
                    overlay: {
                        locked: false
                    }
                }
                

            });
        });
    </script>
    }


@model IEnumerable<u21566641_HW03.Models.FileModel>



@{
    ViewBag.Title = "Images";
}

<h2>Images</h2>
<h6>Page displaying all images uploaded by the user</h6>

<div class="container ">
    <div class="row ">
        
            @foreach (var item in Model)
            {

                <div class="col-lg-4 px-3">
                    <div>
                        <a class ="fancybox" href="/Media/Images/@item.FileName" >
                            <img src="~/Media/Images/@item.FileName" class="gallery" height="220" width="220" />
                        </a>

                        <p>@item.FileName</p>

                        <button type="button" class="btn-success mb-4"
                                onclick="location.href='@Url.Action("DownloadFile", "Image", new { fileName = item.FileName })'">
                            Download
                        </button>
                        <button type="button" class="btn-danger mb-4"
                                onclick="location.href='@Url.Action("DeleteFile", "Image", new { fileName = item.FileName })'">
                            Delete
                        </button>

                    </div>
                </div>


            }

    </div>
</div>

